* {
    padding: 0;
    margin: 0;
}
body {
    background-color: white;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#container {
    height: 50vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#logo {
    height: 80px;
    
}
#img-cont {
    display: flex;
    align-items: center;
    justify-content: center;
}
#identity {
    height: 33px;
    width: 80vw;
    margin-top: 10px;
    padding-right: 5px;
    padding-left: 5px;
    background-color: #ECECEC;
    border-radius: 5px;
    border: 1px solid #DEDEDE;
}
#pass {
    height: 33px;
    width: 80vw;
    margin-top: 10px;
    padding-right: 5px;
    padding-left: 5px;
    background-color: #ECECEC;
    border-radius: 5px;
    border: 1px solid #DEDEDE;
}
#f-p {
    font-size: 12px;
    font-weight: bold;
    color: skyblue;
    margin-top: 9px;
    margin-bottom: 11px;
    border: none;
    background-color: transparent;
    display: flex;
    align-self: flex-end;
    margin-right: 30px;
}
#bu {
    height: 35px;
    width: 83vw;
    margin-top: 10px;
    background-color: #59cbff;
    border-radius: 5px;
    border: skyblue;
    color: white;
}
#pass-container {
    position: relative;
    width: 83vw;
    display: flex;
    align-items: center;
}

#pass {
    width: 100%;
    padding-right: 35px; /* Space for the button */
}

#togglePass {
    position: absolute;
    right: 10px;
    background: none;
    border: none;
    cursor: pointer;
    width: 25px;
}
#sh {
    width: 30px;
    margin-top: 12px;
    fill: #737373;
    filter: brightness(4);
}
#popup.hidden {
    display: none;
}
#popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    background-color: rgba(0,0,0,0.4);
    animation: opa 0.2s 0s ease-in-out 1 forwards;
}
.popup-content {
  background-color: white;
  background-size: cover;
  padding: 20px;
  border-radius: 8px;
  width: 15rem;
  height: 7rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0px;
  justify-self: center;
  z-index: 2;
  border: 1px solid black;
}
@keyframes opa {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}
.close {
    font-size: 30px;
    margin-bottom: 20px;
    position: absolute;
    transform: translate(7.3rem, -15px);
}
p {
    margin-top: 40px;
}
